.App-header {
  background-color: #222;
  height: px;
  padding: 10px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.button {
  margin: 20px 10px 0 0;
  width: 100px;
}

.questions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.finish-message {
  text-align: center;
  margin-top: 50px;
  font-size: xx-large;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}